<div class="media">
  <p  class="postTitle mt-0">
    <strong>User : </strong>
    <% if comment.user %>
      <%= comment.user.userName %>
    <%else%>
      Unknown
    <%end%>
  </p>
  <div class="media-body postBody">
      <p  class="postTitle mt-0">
        <strong>Comment:</strong>
        <%= comment.body %>
      </p>
  </div>

  <% if current_user %>
    <p  class="postTitle">

      <%= link_to 'Delete Comment', [comment.post, comment], method: :delete, data: { confirm: 'Are you sure?' } %>

      <%= link_to 'Edit', edit_post_comment_path(@post,comment) %>
    </p>
  <%end%>
</div>